* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;
    max-width: 100%;
}

/* Main Heading section */
.headsection {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
}

.heading {
    line-height: 1.2;
    color: rgb(136, 116, 116);
    font-size: 22px;
    padding: 13px;
}

.Paragarph1 {
    line-height: 1.5;
    color: rgb(5, 5, 5);
    font-family: sans-serif;
}

/* The Middle section */
.middle {
    padding: 36px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    gap: 34px;
    font-family: sans-serif;
}


.images1 {
    object-fit: contain;
    max-width: 418px;
}

.Paragarph2 {
    align-content: center;
    margin-top: 25px;
}

.spancolour {
    color: rgb(181, 90, 90);
}

/* The lower section */
.down {

    text-align: center;

}

.images2 {
    object-fit: contain;
    width: 980px;
    display: inline-block;
    padding: 36px;

}

a {
    color: black;
}